body {
    margin: 0;
    min-height: 100vh;
    color: base.$color-text;
    background-color: base.$color-background;
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    overflow-x: hidden;
}

body.no-scroll {
    overflow: hidden;
    position: fixed;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-bottom: 30px;
    font-size: 3em;
    line-height: 1.2;
    font-weight: 900;
}

h2 {
    font-size: 2em;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
}

p {
    margin: 0 0 20px;
}

a {
    color: base.$color-highlight;
    cursor: pointer;
}

hr {
    color: base.$color-darker-highlight;
}

button,
select,
textarea {
    font-size: inherit;
    font-family: inherit;
    border: 1px solid base.$color-highlight;
    padding: 8px 10px;
    color: base.$color-text;
    background-color: transparent;
}

button {
    cursor: pointer;

    &:hover {
        background-color: base.$color-lighter-background;
    }
}

select {
    cursor: pointer;

    option {
        color: initial;
        background-color: initial;
    }
}

.highlight {
    color: base.$color-highlight;
    font-weight: bold;
}


main {
    width: base.$pagewidth;
    margin: 100px auto;
    flex-grow: 1;
}