// TODO: Integrate less-css better in the project
@import "fonts";

@smallScreenSize: 1023px;
@tabletSize: 767px;
@phoneSize: 479px;

@bg-color: #cfcfcf;
@shadow-color: #a4a4a4;
@text-color: #000000;
@link-color: #9700d4;
@link-hover-color: #4b0068;
@hamburger-icon-color: #000000;
@hamburger-bg-color: #c19ec7;

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
}

a {
    color: @link-color;
    text-decoration: none;

    &:hover {
        color: @link-hover-color;
    }
}

input {
    font-family: circularXX;
    background-color: #ffffff7d;
    padding: 10px 10px 6px;
    border-radius: 10px;
    border: 1px solid black;

    &[type="text"]:focus {
        outline: none;
    }

    &[type="submit"] {
        cursor: pointer;

        &:hover {
            background-color: #ffffff41;
        }
    }
}

body {
    color: @text-color;
    margin: 0;
    min-height: 100vh;
    background-color: @bg-color;
    font-family: circularXX;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-image: linear-gradient(0deg, @shadow-color -100%, rgba(0, 0, 0, 0) 40%);
}

header {
    height: 100px;
    box-shadow: 0px 0px 50px 0px @shadow-color;
    display: flex;

    .logo {
        display: flex;
        align-items: center;

        img {
            height: 70px;
            margin-left: 30px;
            // filter: invert(100%) sepia(0%) saturate(7480%) hue-rotate(171deg) brightness(109%) contrast(105%);
        }
    }

    nav {
        width: 100%;

        ul {
            display: flex;
            justify-content: flex-end;
            list-style-type: none;
            height: 100%;
            padding: 0;
            margin: 0 30px 0 0;

            li {
                a {
                    font-size: 1.3em;
                }

                div {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    padding: 0 20px;
                }
            }
        }
    }
}

.messageInput {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

// @media screen and (max-width: @smallScreenSize) {
//     article {
//         width: 700px;
//     }
// }

@media screen and (max-width: @tabletSize) {
    article {
        width: 450px;
    }

    nav {
        .menu {
            display: initial !important;
            position: absolute;
            right: -100px;
            top: -100px;
            z-index: 100;
            width: 200px;
            height: 200px;
            background: @hamburger-bg-color;
            border-radius: 50% 50% 50% 50%;
            -webkit-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out;
            box-shadow: 0 0 0 0 @hamburger-bg-color, 0 0 0 0 @hamburger-bg-color;
            cursor: pointer;

        }

        .hamburger {
            position: absolute;
            top: 135px;
            left: 50px;
            width: 30px;
            height: 2px;
            background: @hamburger-icon-color;
            display: block;
            -webkit-transform-origin: center;
            transform-origin: center;
            -webkit-transition: .5s ease-in-out;
            transition: .5s ease-in-out;

            &:after,
            &:before {
                -webkit-transition: .5s ease-in-out;
                transition: .5s ease-in-out;
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                background: @hamburger-icon-color;
            }

            &:before {
                top: -10px;
            }

            &:after {
                bottom: -10px;
            }
        }

        ul {
            z-index: 200;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            opacity: 0;
            visibility: hidden;
            width: 100%;
            height: fit-content !important;

            li {
                margin: 10px 0
            }
        }

        &>div {
            position: absolute;
            overflow: hidden;
            width: 100px;
            height: 100px;
            right: 0;
            transition: 0s 0.5s;
        }

        &.expanded {
            &>div {
                width: 100vw;
                height: 100vh;
                transition: none;
            }

            .menu {
                box-shadow: 0 0 0 100vw @hamburger-bg-color, 0 0 0 100vh @hamburger-bg-color;
                border-radius: 0;

            }

            .hamburger {
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);

            }

            .hamburger:after {
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
                bottom: 0;

            }

            .hamburger:before {
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
                top: 0;

            }

            ul {
                opacity: 1;
                visibility: visible;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                visibility: visible;
                -webkit-transition: 0.25s 0s ease-in-out;
                transition: 0.25s 0s ease-in-out;
            }
        }
    }
}

@media screen and (max-width: @phoneSize) {
    article {
        width: 300px;
    }
}

.messagePage {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin: 0;
        height: 50px;
    }

    p {
        margin: 20px 0 30px;
    }

    .messageContainer {
        display: flex;
        flex-direction: column;
        width: calc(100% + 60px);
        padding: 50px 180px 50px 60px;
        box-shadow: inset 0px 0px 30px #a4a4a4;
        height: calc(100vh - 420px);
        overflow-y: scroll;
        scrollbar-width: none;
    }
}

.tooltip {
    position: relative;
    display: inline-block;

    .tooltipText {
        visibility: hidden;
        width: 60px;
        background-color: #00000070;;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        
        /* Position the tooltip text */
        position: absolute;
        z-index: 1;
        left: 100%;
        top: 50%;
        margin-left: 45px;
        margin-top: -15px;
        
        /* Fade in tooltip */
        opacity: 0;
        transition: opacity 0.3s;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 100%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent #00000070 transparent transparent;
        }
    }
    
    &:hover .tooltipText {
        visibility: visible;
        opacity: 1;
    }
}
